@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Tahoma, sans-serif;
  /* height: 100%; */
  height: 100vh;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  padding-right: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.5rem;
  height: 10vh;
}

.homemiddle {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
  width: 30rem;
  height: 10rem;
  padding-bottom: 5rem;
}

.homewrapper {
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox for the body */
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 80vh;
}

.homerowwrapper {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  margin-left: -2rem;
}

.hometechstacks {
  display: flex;
  flex-direction: row;
  /* text-align: left; */
  align-items: center;
  /* justify-content: flex-start; */
  width: 50rem;
  gap: 2rem;
  padding-top: 5rem;
}

.projectswrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  /* align-items: center; */
  width: 50vw;
  gap: 1rem;
}

.projectrowwrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.projectdesc {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 35%;
}

.projecttech {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.codedemobtn {
  display: flex;
  flex-direction: row;
}

.projectstack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.homesocials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}